<div class="event-view-container">
	<div>{{upper-case "code"}}: {{code}}</div>
	<div>{{upper-case "name"}}: {{name}}</div>
	<div>{{upper-case "business line"}}: {{businessLine.name}}</div>
	<div>{{upper-case "event type"}}: {{eventType}}</div>
	<div>{{upper-case "Available"}}: {{available}}</div>
	<div>{{upper-case "address"}}: {{address}}</div>
	<div>{{upper-case "place"}}: {{place}}</div>		
	<div>{{upper-case "country"}}: {{country}}</div>	
	<div>{{upper-case "comments"}}: {{comments}}</div>	
</div>	
