{{partial "layouts/main"}}
<div class="movie-container">
	<h3>{{upper-case-i18n "movies"}}</h3>
	<ul class="list-undstyled">
		{{#each}}
		<li>
			{{#link-to 'movies.view' this}}			
			{{upper-case title}}
			{{/link-to}}						
			<span {{bind-attr class=movieState}}>{{capitalize-first-letter movieState}}</span>						  
		</li>
		{{/each}}
	</ul>
	<div class="movie-summary">
		<h5>{{upper-case-i18n "movie.summary"}}</h5>
		<div class="movie-watches">{{t "movie.max.watches"}} <span>{{maxWatches}} {{t "viewers"}}</span></div>
		<div class="movie-watches">{{t "movie.min.watches"}}<span>{{minWatches}} {{t "viewers"}}</span></div>
		<div class="movie-watches">{{t "movie.award"}}
			{{#if hasMovieAward}}
			<span>{{t "es.yes"}}</span>
			{{else}}
			<span>{{t "no.exclamation"}}</span>
			{{/if}}
		</div>				
	</div>
</div>
