{{partial "layouts/main"}}
<div class="movie-container">
	<h3>{{upper-case "Movies"}}</h3>
	<ul class="list-undstyled">
		{{#each}}
		<li>
			{{#link-to 'movies.view' this}}			
			{{upper-case title}}
			{{/link-to}}
			
			{{#if currentYear}}			
				<span class="movie-premiere">Premiere</span>
			{{/if}}

			{{#if nextYear}}			
				<span class="movie-coming-soon">Coming soon</span>
			{{/if}}
			
		</li>
		{{/each}}
	</ul>
	<div class="movie-summary">
		<h5>{{upper-case "summary"}}</h5>
		<div class="movie-watches">(*) The movie with MAX watches has: <span>{{maxWatches}} viewers.</span></div>
		<div class="movie-watches">(*) The movie with MIN watches has: <span>{{minWatches}} viewers.</span></div>
		<div class="movie-watches">(*) Is there movie with awards? 
			{{#if hasMovieAward}}
			<span>YES</span>
			{{else}}
			<span>NO!</span>
			{{/if}}
		</div>				
		<!-- <a {{action "openModal" "modal" model}} class="actors-link">[SEE ALL ACTORS!]</a>		 -->
	</div>	
</div>
