{{partial "layouts/main"}}
<div class="movie-container">
	<h3>{{upper-case-i18n 'movie' 'name'}}</h3>
	<ul class="list-undstyled">
		{{#each}}
		{{render "movies/index-item" this}}
		{{/each}}
	</ul>
	<div class="total">{{t "total"}}: {{total}}</div>
	<div class="movie-summary">
		<h5>{{upper-case-i18n 'movie' 'summary'}}</h5>
		<div class="movie-watches">{{t "movie.maxWatches"}} <span>{{maxWatches}} {{t "movie.viewers"}}</span></div>
		<div class="movie-watches">{{t "movie.minWatches"}}<span>{{minWatches}} {{t "movie.viewers"}}</span></div>
		<div class="movie-watches">{{t "movie.award"}}
			{{#if hasMovieAward}}
			<span>{{t "movie.yes"}}</span>
			{{else}}
			<span>{{t "movie.noExclamation"}}</span>
			{{/if}}
		</div>				
		<div class="movie-watches">
			<input type="button" {{action "openModal" 'modal' this}} {{bind-attr value=i18n.current.movie.allActors}} class="btn btn-success">
		</div>
	</div>
</div>

