<div class="movie-container">
	<h3>{{upper-case "Movies"}}</h3>
	<ul class="list-undstyled">
		{{#each}}
		<li>
			{{#link-to 'movies.view' this}}			
			{{title}}
			{{/link-to}}
		</li>
		{{/each}}
	</ul>
	<div>
		<div class="movie-watches">(*) The movie with MAX watches has: <span>{{maxWatches}}</span></div>
		<div class="movie-watches">(*) The movie with MIN watches has: <span>{{minWatches}}</span></div>
		<!-- <a {{action "openModal" "modal" model}} class="actors-link">[SEE ALL ACTORS!]</a>		 -->
	</div>	
</div>
