{{partial "layouts/main"}}
<div class="movie-container">
	<img  {{bind-attr src=model.picThumbnail}}>
	<span>CODE:</span>{{model.code}} - <span class="movie-title">{{upper-case model.title}}</span>
	<div {{bind-attr class="model.hasGoodRating:movie-rating-excellent"}}  ></div>
	<hr>
	<div class="movie-item-small">{{model.date}}</div>
	{{#if model.profile}}
	<div class="movie-item-small">PROFILE: {{upper-case model.profile.name}}</div>
	{{/if}}
	<div class="movie-brief">
		{{model.brief}}
	</div>
	<div class="movie-actors-container">	
		{{#each actor in model.actors}}
		<div class="movie-actor">{{actor.name}}</div>
		{{/each}}
		{{#each fav in favActor}}
		<div class="movie-actor-fav">The favorite actor is: 
			{{fav.name}}
		</div>
		{{/each}}
	</div>

	<div class="movie-review-container">
		<div>Review:</div> 
		<div>
			{{view "select" content=scores value=model.review}}
		</div> 
	</div>
</div>
{{#link-to "movies" class="btn btn-primary"}}Back{{/link-to}}
