{{partial "layouts/main"}}
<div class="movie-container">
	{{movie-title model=model}}
	<hr>	

	{{#if model.profile}}
	<div class="movie-item-small">Profile: {{upper-case model.profile.name}}</div>
	{{/if}}
    <div class="movie-item-small">Award:
		{{#if hasAward}}
		  <span>YES</span>
		{{else}}
		  <span>NO!</span>
		{{/if}}
    </div>
	<div class="movie-brief">
		{{model.brief}}
	</div>

	{{#if actorNames}}
	<div class="movie-item-small">Actor Names: {{actorNames}}</div>
	{{/if}}

	<div class="movie-actors-container">	
		{{#each actor in model.actors}}
		<div class="movie-actor">{{actor.name}}</div>
		{{/each}}
		{{#each fav in favActor}}
		<div class="movie-actor-fav">The favorite actor is: 
			{{fav.name}}
		</div>
		{{/each}}
	</div>

	<div class="movie-review-container">
		<div>Review:</div> 
		<div>
			{{view "select" content=scores value=model.review}}
		</div> 
	</div>
</div>
{{#link-to "movies" class="btn btn-primary"}}Back{{/link-to}}
