<div class="movie-container">
	<div><span>CODE:</span>{{model.code}} >> {{upper-case model.title}}</div>
	<div class="movie-item-small">{{model.date}}</div>
	{{#if model.profile}}
	<div class="movie-item-small">PROFILE: {{upper-case model.profile.name}}</div>
	{{/if}}
	<div class="movie-brief">
		{{model.brief}}
	</div>
	<div class="movie-actors-container">	
		{{#each actor in model.actors}}
		<div class="movie-actor">{{actor.name}}</div>
		{{/each}}
		<div class="movie-actor-fav">The favorite actor is: {{model.favActor}}</div>
	</div>

	<div class="movie-review-container">
		<div>Review:</div> 
		<div>
			{{view "select" content=scores value=model.review}}
		</div> 
	</div>
</div>
{{#link-to "movies" class="btn btn-primary"}}Back{{/link-to}}
