<div class="main-container">
	<div class="section-container">		
		{{outlet}}
		{{outlet 'modal'}}
	</div>
	<div class="app-version">
		<span>App Version:{{version}}</span>
		<a {{action "goToFeaturesUsed"}}>Features used!</a>
		<a {{action "goToGithub"}}>@kilisoria</a>
		<a {{action "goToRoadMap"}}>Roadmap</a>		
	</div>
</div>