{{partial "layouts/main"}}
<div class="events-container">
	<h3>{{upper-case "events"}} {{#link-to "events.new" class="event-add-link"}}Add new Event{{/link-to}}    
	</h3>
	{{#each }}		
	{{#link-to "events.view" this}}
	{{event-title model=this}}
	{{/link-to}}
	<div class="event-actions-container">
		<a {{action "remove" id}} class="event-remove-action" title="remove"></a>
		{{#link-to "events.view" this class="event-view-action" title="see more detail"}}{{/link-to}}				
	</div>		
	{{/each}}
	<div class="total">{{t "total"}}: {{total}}</div>
	<div>
		{{outlet}}		
	</div>	
</div>
